@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Spoof';
  src: url('./assets/fonts/Spoof-Regular.ttf') format('ttf');
  /* Voeg extra src-verklaringen toe voor verschillende lettertypeformaten */
  font-weight: normal;
  font-style: normal;
}



* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body,
#root {
  height: 100%;
  min-height: 100vh;
  background-color: theme('colors.white-off');
}

button {
  background-color: red;
  border-radius: 20px;
  padding: 20px;
}

#header-stepper::after {
  content: '';
  position: absolute;
  left: 5px;
  z-index: 1;
  bottom: 46px;
  width: calc(100% - 5px);
  height: 4px;
  background-color: theme('colors.pink');
}
